.Items{
    width:50%;
    margin: auto;
    margin-top:15px;
    border:1px solid #eee;
    box-shadow: 0 2px 3px rgb(204, 204, 204);
    padding:auto;
    text-align:center;
    background-color: rgb(255, 210, 221);
    font-family:Times, Times New Roman, serif;
    font-size:medium;
}

#Button1{
    margin:auto;
    padding:auto;
    background-color: rgb(122, 192, 192);
}