.App {
  text-align: center;
  position: relative;
}
.Category{
    width:15%;
    margin: auto;
    border:1px solid #eee;
    box-shadow: 0 2px 3px rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.CheckOut{
    width:15%;
     position: fixed;
     bottom: 2;
     right: 0;

    mrgin:auto;
    border:1px solid #eee;
    box-shadow: 0 2px 3px rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: burlywood;
}